<div class="darkPage">
	<div class="container vContainer">
		<div class="vContent">
			<div class='home img-centered'>
				<div class="row full">
					<div class="col-xs-12 tile">
						<div class="container vContainer">
							<div class="vContent">
								<div class="profileLarge"></div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 tile">
						<div class="row full seperate">
							<div class="col-xs-2 col-xs-offset-2 full padless">
								<div class="container vContainer bare">
									<div class="vContent2 bare">
										<img class="img-responsive img-centered" src="assets/button.png">
									</div>
								</div>
							</div>
							<div class="col-xs-8 full">
								<div class="container vContainer">
									<div class="vContent2">
										Play Now
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 tile">
						<div class="row full seperate">
							<div class="col-xs-2 col-xs-offset-2 full padless">
								<div class="container vContainer bare">
									<div class="vContent2 bare">
										<img class="img-responsive img-centered" src="assets/button.png">
									</div>
								</div>
							</div>
							<div class="col-xs-8 full">
								<div class="container vContainer">
									<div class="vContent2">
										Challenge
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 tile">
						<div class="row full seperate">
							<div class="col-xs-2 col-xs-offset-2 full padless">
								<div class="container vContainer bare">
									<div class="vContent2 bare">
										<img class="img-responsive img-centered" src="assets/button.png">
									</div>
								</div>
							</div>
							<div class="col-xs-8 full">
								<div class="container vContainer">
									<div class="vContent2">
										Stats
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 tile">
						<div class="row full seperate">
							<div class="col-xs-2 col-xs-offset-2 full padless">
								<div class="container vContainer bare">
									<div class="vContent2 bare">
										<img class="img-responsive img-centered" src="assets/button.png">
									</div>
								</div>
							</div>
							<div class="col-xs-8 full">
								<div class="container vContainer">
									<div class="vContent2">
										Status
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>