<div class="container vContainer">
	<div class="vContent">
		<img src='assets/app_logo.png' id="logo" class='img-responsive img-centered'/><br/>
		<div class="login" id="loginContent">
			<div id="login_access">
				<form role="form">
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>	
						</span>
						<input type="text" placeholder="Username" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>	
						</span>
						<input type="password" placeholder="Password" class="form-control">
						<span class="input-group-addon button">
							&nbsp&nbsp
						</span>
					</div>
				</form>
			</div>
			<div id="forget_access" style="display:none">
				<form role="form">
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>	
						</span>
						<input type="text" placeholder="email" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
			<div id="register_access" style="display:none">
				<form role="form">
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>	
						</span>
						<input type="text" placeholder="Username" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>	
						</span>
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<br/>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>	
						</span>
						<input type="password" placeholder="Confirm password" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		<div class="bare">
			<div class="row bare">
				<div class="col-xs-2 col-xs-offset-1 center" id="arrow">
					<div class="arrow-down"></div>
				</div>
			</div>
		</div>
		<div class="loginOps med">
			<div class="row bare">
				<div class="col-xs-4 center">
					<a href="#" id="signIn" class="accent">Sign in</a>
				</div>
				<div class="col-xs-4 center">
					<a href="#" id="forget" class="accent">Forget?</a>
				</div>
				<div class="col-xs-4 center">
					<a href="#" id="register" class="accent">Register</a>
				</div>
			</div>
		</div>
	</div>
</div>