<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" id="question">{{question}}</h3>
	</div>
	<div class="panel-body">
		<form role="form" id="answerform">
			<div class="radio">
				<label>
					<input type="radio" name="answer" id="answer" value="true" checked>
					True
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="answer" id="answer2" value="false">
					False
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<button type="submit" form="answerform">Answer</button>
	</div>
</div>