<div class="darkPage" id="homePage">
	<div class="container vContainer">
		<div class="vContent light">
			<div class="timer">
				<input id="timer" type="text" value="15" data-max="15" data-readOnly="true" data-width="150" class="dial">
			</div>
			<br/>
			<p>Waiting for both players to ready up...</p>
			<br/>
			<div>
				<button class="btn btn-default btn-block" id="ready">Ready Up!</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$("#timer").knob({
			fgColor: "#625864",
			bgColor: "#292931",
			inputColor: "#625864"
		});
	</script>
</div>